<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .logo {
            height: 4rem;
        }
        .footer {
            background-color: #b5b4b4;
            color: #4B7864;
            clear: both;
            display: flex;
            flex-direction: row;
            gap: 80px;
            height: fit-content;
            padding: 10px;
        }

            .footer img {
                width: 45px;
                height: 45px;
            }

        .Team-introduce {
            display: flex;
            flex-direction: column;
        }

            .Team-introduce p {
                margin: 0px;
                font-size: 15px;
            }

        .Team-name {
            color: black;
            font: 50 18px Inter,;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark " style="background-color:#3e2a2a">
        <div class="container">
            <a href="@Url.Action( "AdminHome", "AdminHome")"><img src="~/Content/images/logo1.png" class="logo" /></a>

            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">

                    <li>@Html.ActionLink("Danh mục", "Index", "Categories", new { }, new { @class = "nav-link" })</li>

                    <li>@Html.ActionLink("Sản phẩm", "Index", "Products", new { }, new { @class = "nav-link" })</li>

                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        @RenderBody()

    </div>
    <hr />
    <div class="footer">
        <div class="contact-icons">
            <img src="~/Content/images/fb-icon.png" class="fb-icon-image" />
            <img src="~/Content/images/ins-icon.png" class="ins-icon-image" />
            <img src="~/Content/images/tw-icon.png" class="tw-icon-image" />
        </div>
        <div class="Team-introduce">
            <p>&copy; @DateTime.Now.Year - Email: BaronCafe@gmail.com.vn</p>
            <p class="Team-name">Ngô Quang Hào - Bạch Thị Thủy Triều - Huỳnh Thiện Tấn - Tạ Yến Phương</p>


        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
